$main-color: rgb(189, 163, 112);
$contrast-color: blue;
$logout: rgb(125, 52, 52);

$poppins: "Poppins", sans-serif;
$bevan: "Bevan", serif;
$bad-script: "Bad Script", cursive;

.post {
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    width: 700px;

    img {
        width: 120px;
        height: auto;
        display: block;
        margin: 0 auto;
        box-shadow: 3px 3px 0px darken($main-color, 30%);
        margin-bottom: 20px;
    }

    .postContent {
        margin: 0 auto;
        width: 500px;
        padding-bottom: 20px;
        border-bottom: 2px solid $main-color;
        font-family: $poppins;
    }

    h2 {
        text-align: center;
        font-family: $bad-script;
    }

    .date {
        color: darken($main-color, 30%);
    }

    .showPost {
        color: darken($main-color, 30%);
        text-underline-offset: 5px;


        &:hover {
            text-underline-offset: 10px;
        }
    }
}

.postLayout {
    display: flex;
}