$main-color: rgb(189, 163, 112);
$contrast-color: blue;
$logout: rgb(125, 52, 52);

.post {
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    width: 700px;
    background-color: lighten($main-color, 30%);
    border: 2px solid $main-color;
    img {
        width: 120px;
        height: auto;
        margin: 20px;
        box-shadow: 3px 3px 0px darken($main-color, 30%);
    }

    .postContent {
        margin-left: 20px;
        margin: 20px;
    }

    h2 {
        text-align: center;
    }

    .date {
        color: darken($main-color, 30%);
    }

    .showPost {
        color: darken($main-color, 30%);
        text-underline-offset: 5px;


        &:hover {
            text-underline-offset: 10px;
        }
    }
}

.postLayout {
    display: flex;
}