$main-color: rgb(189, 163, 112);
$contrast-color: blue;
$logout: rgb(125, 52, 52);
$button-color: rgb(249, 243, 234);

$poppins: "Poppins", sans-serif;
$bevan: "Bevan", serif;
$bad-script: "Bad Script", cursive;

.deleteButton {
        background-color: lighten($logout, 30%);
    padding: 8px;
    border-radius: 10px;
    border: none;
    border: 2px solid darken($main-color, 20%);
    margin-left: 10px;
    font-family: $poppins;

    &:hover {
        background-color: $logout;
        cursor: pointer;
        color: white;
    }
}

.errorMessage {
    text-align: center;
    background-color: rgb(223, 176, 176);
    border-radius: 10px;
    padding: 5px;
}