$main-color: rgb(189, 163, 112);
$contrast-color: blue;
$logout: rgb(125, 52, 52);

$poppins: "Poppins", sans-serif;
$bevan: "Bevan", serif;
$bad-script: "Bad Script", cursive;

footer {
    background-color: lighten($main-color, 20%);
    padding: 10px;
    text-align: center;
    font-family: $poppins;

}

.errorMessage {
    text-align: center;
    background-color: rgb(223, 176, 176);
    border-radius: 10px;
    padding: 5px;
}