$main-color: rgb(189, 163, 112);
$contrast-color: blue;
$logout: rgb(125, 52, 52);
$button-color: rgb(249, 243, 234);

$poppins: "Poppins", sans-serif;
$bevan: "Bevan", serif;
$bad-script: "Bad Script", cursive;

#updatePost {
    background-color: rgb(249, 243, 234);
    padding: 8px;
    border-radius: 10px;
    border: none;
    border: 2px solid darken($main-color, 20%);
    margin-top: 20px;
    font-family: $poppins;

    &:hover {
        background-color: darken($button-color, 20%);
        cursor: pointer;
    }
}

.updateForm {
    margin-top: 10px;
    width: 300px;
    margin-bottom: 20px;

    input, textarea {
        background-color: $button-color;
        border: none;
        padding: 7px;
        border-bottom: 2px solid darken($main-color, 20%);
        border-radius: 10px;
        margin-bottom: 10px;
        width: 300px;
    }

    .formButton {
        width: 100px;
    }
}

.formButton {
    &:hover {
        background-color: darken($button-color, 20%);
        cursor: pointer;
    }
}

.errorMessage {
    text-align: center;
    background-color: rgb(223, 176, 176);
    border-radius: 10px;
    padding: 5px;
}