$main-color: rgb(189, 163, 112);
$contrast-color: blue;
$logout: rgb(125, 52, 52);
$button-color: rgb(249, 243, 234);

.adminForm {
    margin-top: 10px;
    display: block;
    margin: 0 auto;
    max-width: 500px;

    input, textarea {
        text-align: center;
        background-color: $button-color;
        border: none;
        padding: 7px;
        border-bottom: 2px solid darken($main-color, 20%);
        border-radius: 10px;
        margin-bottom: 15px;
        margin-top: 10px;
        width: 500px;
    }

    textarea {
        height: 80px;
        text-align: left;
    }

    .adminButton {
        width: 150px;
        display: block;
        margin: 0 auto;
        margin-bottom: 120px;
        margin-top: 20px;
    }
}

.adminButton {
    &:hover {
        background-color: darken($button-color, 20%);
        cursor: pointer;
    }
}

.admincontent {
    h1, h2 {
        text-align: center;
    }
}