$poppins: "Poppins", sans-serif;
$bevan: "Bevan", serif;
$bad-script: "Bad Script", cursive;

.loading {
    text-align: center;
    color: rgb(78, 78, 78);
}

#blog {
    margin: 0 auto;
    h1{
        text-align: center;
        font-family: $bad-script;
    }
}

.postPosition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorMessage {
    text-align: center;
    background-color: rgb(223, 176, 176);
    border-radius: 10px;
    padding: 5px;
}