$main-color: rgb(189, 163, 112);
$contrast-color: blue;
$logout: rgb(125, 52, 52);

#introtext {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 300px;
}

#introtitle {
    text-align: center;
}