$main-color: rgb(189, 163, 112);
$contrast-color: blue;
$logout: rgb(125, 52, 52);
$button-color: rgb(249, 243, 234);

$poppins: "Poppins", sans-serif;
$bevan: "Bevan", serif;
$bad-script: "Bad Script", cursive;

.loginForm {
    margin-top: 10px;
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
    font-family: $poppins;

    input {
        text-align: center;
        background-color: $button-color;
        border: none;
        padding: 7px;
        border-bottom: 2px solid darken($main-color, 20%);
        border-radius: 10px;
        margin-bottom: 15px;
        margin-top: 10px;
        width: 100%;
        max-width: 500px;
    }

    .loginButton {
        width: 100px;
        display: block;
        margin: 0 auto;
        margin-bottom: 100px;
        margin-top: 20px;
    }
}

.loginButton {
    &:hover {
        background-color: darken($button-color, 20%);
        cursor: pointer;
    }
}

.loginTitle {
    text-align: center;
    font-family: $bad-script;
}