.onePostDiv {
    max-width: 800px;
    display: block;
    margin: 0 auto;

}

.errorMessage {
    text-align: center;
    background-color: rgb(223, 176, 176);
    border-radius: 10px;
    padding: 5px;
}